:root {
	/* Lock colors */
	--lockPrimary00: 255, 255, 255;
	--lockPrimary01: 245, 245, 245;
	--lockPrimary02: 235, 235, 235;
	--lockPrimary03: 224, 224, 224;
	--lockPrimary04: 214, 214, 214;
	--lockPrimary05: 204, 204, 204;
	--lockPrimary06: 194, 194, 194;
	--lockPrimary07: 184, 184, 184;
	--lockPrimary08: 173, 173, 173;
	--lockPrimary09: 163, 163, 163;
	--lockPrimary10: 153, 153, 153;
	--lockPrimary11: 143, 143, 143;
	--lockPrimary12: 133, 133, 133;
	--lockPrimary13: 122, 122, 122;
	--lockPrimary14: 112, 112, 112;
	--lockPrimary15: 102, 102, 102;
	--lockPrimary16: 92, 92, 92;
	--lockPrimary17: 82, 82, 82;
	--lockPrimary18: 71, 71, 71;
	--lockPrimary19: 61, 61, 61;
	--lockPrimary20: 51, 51, 51;
	--lockPrimary21: 41, 41, 41;
	--lockPrimary22: 31, 31, 31;
	--lockPrimary23: 20, 20, 20;
	--lockPrimary24: 10, 10, 10;
	--lockPrimary25: 2, 2, 2;

	/* Secondary colors */
	--lockSecondary00: 235, 245, 255;
	--lockSecondary01: 214, 235, 255;
	--lockSecondary02: 194, 225, 255;
	--lockSecondary03: 173, 214, 255;
	--lockSecondary04: 153, 204, 255;
	--lockSecondary05: 133, 194, 255;
	--lockSecondary06: 112, 184, 255;
	--lockSecondary07: 92, 173, 255;
	--lockSecondary08: 71, 163, 255;
	--lockSecondary09: 51, 153, 255;
	--lockSecondary10: 31, 143, 255;
	--lockSecondary11: 10, 133, 255;
	--lockSecondary12: 0, 122, 245;
	--lockSecondary13: 0, 112, 224;
	--lockSecondary14: 0, 102, 204;
	--lockSecondary15: 0, 92, 184;
	--lockSecondary16: 0, 82, 163;
	--lockSecondary17: 0, 71, 143;
	--lockSecondary18: 0, 61, 122;
	--lockSecondary19: 0, 51, 102;
	--lockSecondary20: 0, 41, 82;
	--lockSecondary21: 0, 31, 61;
	--lockSecondary22: 0, 20, 41;
	--lockSecondary23: 0, 10, 20;

	/* Accent colors */
	--lockAccent00: 242, 239, 250;
	--lockAccent01: 230, 224, 245;
	--lockAccent02: 218, 209, 240;
	--lockAccent03: 205, 193, 235;
	--lockAccent04: 193, 178, 230;
	--lockAccent05: 180, 163, 225;
	--lockAccent06: 167, 147, 220;
	--lockAccent07: 154, 132, 215;
	--lockAccent08: 141, 116, 210;
	--lockAccent09: 129, 101, 205;
	--lockAccent10: 116, 86, 200;
	--lockAccent11: 103, 70, 195;
	--lockAccent12: 93, 60, 185;
	--lockAccent13: 85, 55, 169;
	--lockAccent14: 78, 50, 154;
	--lockAccent15: 70, 45, 139;
	--lockAccent16: 62, 40, 123;
	--lockAccent17: 54, 35, 108;
	--lockAccent18: 47, 30, 92;
	--lockAccent19: 39, 25, 77;
	--lockAccent20: 31, 20, 62;
	--lockAccent21: 23, 15, 46;
	--lockAccent22: 15, 10, 31;
	--lockAccent23: 7, 5, 15;

	--lockError00: 252, 89, 74;
	--lockError01: 251, 34, 14;
	--lockSuccess00: 51, 255, 112;
	--lockSuccess01: 0, 143, 43;

	/* Primary */
	--primary00: 255, 255, 255;
	--primary01: 245, 245, 245;
	--primary02: 235, 235, 235;
	--primary03: 224, 224, 224;
	--primary04: 214, 214, 214;
	--primary05: 204, 204, 204;
	--primary06: 194, 194, 194;
	--primary07: 184, 184, 184;
	--primary08: 173, 173, 173;
	--primary09: 163, 163, 163;
	--primary10: 153, 153, 153;
	--primary11: 143, 143, 143;
	--primary12: 133, 133, 133;
	--primary13: 122, 122, 122;
	--primary14: 112, 112, 112;
	--primary15: 102, 102, 102;
	--primary16: 92, 92, 92;
	--primary17: 82, 82, 82;
	--primary18: 71, 71, 71;
	--primary19: 61, 61, 61;
	--primary20: 51, 51, 51;
	--primary21: 41, 41, 41;
	--primary22: 31, 31, 31;
	--primary23: 20, 20, 20;
	--primary24: 10, 10, 10;
	--primary25: 2, 2, 2;

	/* Secondary colors */
	--secondary00: 235, 245, 255;
	--secondary01: 214, 235, 255;
	--secondary02: 194, 225, 255;
	--secondary03: 173, 214, 255;
	--secondary04: 153, 204, 255;
	--secondary05: 133, 194, 255;
	--secondary06: 112, 184, 255;
	--secondary07: 92, 173, 255;
	--secondary08: 71, 163, 255;
	--secondary09: 51, 153, 255;
	--secondary10: 31, 143, 255;
	--secondary11: 10, 133, 255;
	--secondary12: 0, 122, 245;
	--secondary13: 0, 112, 224;
	--secondary14: 0, 102, 204;
	--secondary15: 0, 92, 184;
	--secondary16: 0, 82, 163;
	--secondary17: 0, 71, 143;
	--secondary18: 0, 61, 122;
	--secondary19: 0, 51, 102;
	--secondary20: 0, 41, 82;
	--secondary21: 0, 31, 61;
	--secondary22: 0, 20, 41;
	--secondary23: 0, 10, 20;

	/* Accent colors */
	--accent00: 242, 239, 250;
	--accent01: 230, 224, 245;
	--accent02: 218, 209, 240;
	--accent03: 205, 193, 235;
	--accent04: 193, 178, 230;
	--accent05: 180, 163, 225;
	--accent06: 167, 147, 220;
	--accent07: 154, 132, 215;
	--accent08: 141, 116, 210;
	--accent09: 129, 101, 205;
	--accent10: 116, 86, 200;
	--accent11: 103, 70, 195;
	--accent12: 93, 60, 185;
	--accent13: 85, 55, 169;
	--accent14: 78, 50, 154;
	--accent15: 70, 45, 139;
	--accent16: 62, 40, 123;
	--accent17: 54, 35, 108;
	--accent18: 47, 30, 92;
	--accent19: 39, 25, 77;
	--accent20: 31, 20, 62;
	--accent21: 23, 15, 46;
	--accent22: 15, 10, 31;
	--accent23: 7, 5, 15;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Primary colors */
		--primary00: 2, 2, 2;
		--primary01: 10, 10, 10;
		--primary02: 20, 20, 20;
		--primary03: 31, 31, 31;
		--primary04: 41, 41, 41;
		--primary05: 51, 51, 51;
		--primary06: 61, 61, 61;
		--primary07: 71, 71, 71;
		--primary08: 82, 82, 82;
		--primary09: 92, 92, 92;
		--primary10: 102, 102, 102;
		--primary11: 112, 112, 112;
		--primary12: 122, 122, 122;
		--primary13: 133, 133, 133;
		--primary14: 143, 143, 143;
		--primary15: 153, 153, 153;
		--primary16: 163, 163, 163;
		--primary17: 173, 173, 173;
		--primary18: 184, 184, 184;
		--primary19: 194, 194, 194;
		--primary20: 204, 204, 204;
		--primary21: 214, 214, 214;
		--primary22: 224, 224, 224;
		--primary23: 235, 235, 235;
		--primary24: 245, 245, 245;
		--primary25: 255, 255, 255;

		/* Secondary colors */
		--secondary00: 0, 10, 20;
		--secondary02: 0, 31, 61;
		--secondary01: 0, 20, 41;
		--secondary03: 0, 41, 82;
		--secondary04: 0, 51, 102;
		--secondary05: 0, 61, 122;
		--secondary06: 0, 71, 143;
		--secondary07: 0, 82, 163;
		--secondary08: 0, 92, 184;
		--secondary09: 0, 102, 204;
		--secondary10: 0, 112, 224;
		--secondary11: 0, 122, 245;
		--secondary12: 10, 133, 255;
		--secondary13: 31, 143, 255;
		--secondary14: 51, 153, 255;
		--secondary15: 71, 163, 255;
		--secondary16: 92, 173, 255;
		--secondary17: 112, 184, 255;
		--secondary18: 133, 194, 255;
		--secondary19: 153, 204, 255;
		--secondary20: 173, 214, 255;
		--secondary21: 194, 225, 255;
		--secondary22: 214, 235, 255;
		--secondary23: 235, 245, 255;

		/* Accent colors */
		--accent00: 7, 5, 15;
		--accent01: 15, 10, 31;
		--accent02: 23, 15, 46;
		--accent03: 31, 20, 62;
		--accent04: 39, 25, 77;
		--accent05: 47, 30, 92;
		--accent06: 54, 35, 108;
		--accent07: 62, 40, 123;
		--accent08: 70, 45, 139;
		--accent09: 78, 50, 154;
		--accent10: 85, 55, 169;
		--accent11: 93, 60, 185;
		--accent12: 103, 70, 195;
		--accent13: 116, 86, 200;
		--accent14: 129, 101, 205;
		--accent15: 141, 116, 210;
		--accent16: 154, 132, 215;
		--accent17: 167, 147, 220;
		--accent18: 180, 163, 225;
		--accent19: 193, 178, 230;
		--accent20: 205, 193, 235;
		--accent21: 218, 209, 240;
		--accent22: 230, 224, 245;
		--accent23: 242, 239, 250;
	}
}
