.button {
	background: rgba(var(--primary5), .5);
	width: 100%;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding: 8px;
	border-radius: 8px;
	box-shadow: rgba(var(--primary25), .5) 0 0 4px -2px;
	font-size: 18px;
	border: none;
	outline: none;
	cursor: pointer;
}

.button:focus-visible {
	outline: rgba(var(--primary25), 1) 2px solid;
}
