:root {
  --secondary-color: #C3EDFF;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: Montserrat;
  background: transparent;
}

html, body {
  min-height: 100%;
  height: 1px;
  width: 100%;
}

header {
  top: 0;
  width: 100%;
  height: 50px;
  background: #000;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 100;

  .header {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    &__logo {
      color: #fff;
      text-decoration: none;
      font-size: 28px;
      font-weight: 600;
    }
  }
}

main {
  padding-top: 50px;
  width: 100%;
  min-height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .main {
    width: 100%;
    min-height: 100%;
  }
}

// Footer
footer {
  position: relative;
  float: a;
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;

  .footer__top {
    position: absolute;
    transform: translateY(-99%);
    grid-row: 1/2;
    width: 100%;
    height: 50px;
    fill: #000;
  }

  .footer {
    padding: 20px 20px 0 20px;
    max-width: 1440px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "cl logo nl" "cl logo sl" "cr cr cr";

    .list--container {
      display: flex;
      flex-direction: column;
      padding: 20px 0px;
      gap: 20px;

      .list__title {
        font-size: 20px;
        color: #fff;
        font-weight: normal;
        display: flex;
      }
      
      .list {
        list-style: none;
        display: flex;
        gap: 20px;
        padding: 0 10px;

        li {

          a, a svg {
            text-decoration-color: #fff0;
            color: #666;
            fill: #666;
            transition: text-decoration-color 0.1s, color 0.1s, fill 0.1s;
          }

          & a:hover, & a:hover svg, & a:focus-visible, & a:focus-visible svg {
            color: #fff;
            fill: #fff;
            text-decoration-color: #fff;
          }
        }
      }
    }

    &__class-list {
      grid-area: cl;

      &--list {
        gap: 20px;
        display: grid !important;
        grid-template-columns: repeat(4, 1fr);
      }
    }
    &__logo {
      grid-area: logo;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;

      a {
        font-size: 90px;
        text-decoration-color: rgba($color: #C3EDFF, $alpha: 0);
        color: #C3EDFF;
        font-weight: 600;
        transition: text-decoration-color .3s;

        &:hover, &:focus-visible {
          text-decoration-color: rgba($color: #C3EDFF, $alpha: 1);  
        }
      }
    }
    &__nav-list {
      grid-area: nl;

      &--list {
        flex-direction: column;
      }
    }
    &__social-list {
      grid-area: sl;

      &--list {
        justify-content: space-between;
      }
    }
    &__copyright {
      grid-area: cr;
      display: flex;
      justify-content: flex-end;
      padding: 20px 0;
      color: #666;
      border-top: 1px solid #666;
    }
  }
}

@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr 1fr !important;
    grid-template-areas: "logo logo" "cl nl" "cl sl" "cr cr" !important;
  }
}

@media (max-width: 500px) {
  .footer {
    grid-template-columns: 1fr !important;
    grid-template-areas: "logo" "cl" "nl" "sl" "cr" !important;

    &__logo {
      padding: 30px 0 !important;
      
      a {
        font-size: 20vw !important;
      }
    }
  }
}